<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">

<dom-module id="datamanager-element">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--Para cargar el API-->
    <iron-ajax
    auto
    url="https://jsonplaceholder.typicode.com/users/1"
    handle-as="json"
    last-response="{{handleResponse}}">
    </iron-ajax>

    <!--Spinner cargando-->
    <template is="dom-if" if="{{cargando}}">
      <paper-spinner active="{{cargando}}" class="thick"></paper-spinner>
      <h2>Cargando</h2>
    </template>
    <h2>{{handleResponse.name}}</h2>


    </template>

    <script>
        /**
         * `datamanager-element`
         * 
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class DatamanagerElement extends Polymer.Element {
            static get is() {
                return 'datamanager-element';
            }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'Data Manager'
                    },
                    //Propiedad que obtiene los objetos del API
                    handleResponse: {
                        type: Object,
                        value: () => {
                            return {}
                        },
                        observer: '_succes'
                    },
                    cargando: {
                        type: Boolean,
                        value: true
                    }
                };
            }
            _succes(e) {
                this.cargando = false

            }
        }

        window.customElements.define(DatamanagerElement.is, DatamanagerElement);
    </script>
</dom-module>